
.item-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 40px 10px;
    width: 100%;
    margin-right: 20px;
    place-items: center;
}